builder/
controller/
dockerbuilder/
fluentd/
logger/
minio/
monitor/
nsqd/
postgres/
redis/
registry/
registry-proxy/
registry-token-refresher/
router/
slugbuilder/
slugrunner/
workflow/
workflow-manager/
